<section id="sec-6">
    <div class="container">
        <div class="about">
            <h1>Công ty chúng tôi</h1>
            <h2>
                GIA PHÁT CONSTRUCTION
                <p>Luôn mang đến những giá trị sống mới</p>
            </h2>
            <p>Liện hệ ngay cho chúng tôi nếu bạn có nhu cầu về xây nhà ở bằng các hình thức dưới đây</p>
            <a href="https://www.facebook.com/xaydungphamgiaphat" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-youtube-square"></i></a>
        </div>
        <div class="links">
            <h1>Khám phá</h1>
            <a href="#">Dịch vụ</a>
            <a href="#">Đội ngũ của chúng tôi</a>
            <a href="#">Diễn đàn</a>
            <a href="#">Trung tâm trợ giúp</a>
            <a href="#">Liên hệ chúng tôi</a>
            <!-- <a href="#">Privacy Policy</a> -->
            <a href="#">Các điều iều khoản</a>
            <a href="#">Bản đồ</a>
        </div>
        <div class="posts">
            <h1>Bài viết gần đây</h1>
            <a href="#"><span>20<br>JAN</span>Nhà biệt thự khu C</a>
            <a href="#"><span>20<br>JAN</span>Nhà ở khu Hà Đô</a>
            <a href="#"><span>20<br>JAN</span>Nhà ở khu dân cư Thới An</a>
            <a href="#"><span>20<br>JAN</span>Công trình ở Hóc Môn</a>
            <a href="#"><span>20<br>JAN</span>Vật liệu xây dựng</a>
        </div>
        <div class="contact">
            <h1>Liện Hệ Chúng Tôi</h1>
            <p>138 Đường TA13, Khu phố 6, phường Thới An, quận 12, Tp.HCM</p>
            <p>phamgiaphatconstruction@gmail.com</p>
            <p>+0932547584<br>+0367796098</p>
        </div>
    </div>
</section>
<section id="sec-7">
    <div class="container">
        <p>Copyright @2023 | Designed by <span>Joseph</span></p>
    </div>
</section>