<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/libs'); -%>
        <title>Construction Company</title>
</head>

<body>
    <section id="sec-0">
        <%- include('../components/header'); -%>
            <article>
                <div class="container">
                    <h1>Chúng Tôi Chuyên Cung Cấp</h1>
                    <h2>Các dịch vụ xây dựng<br>
                        <span>Sáng Tạo Và Chuyên Nghiệp</span>
                    </h2>
                    <p>Chuyên tư vấn - thiết kế - thi công - cung cấp vật tư ngành xây dựng</p>
                    <a href="#">Hiển Thị Thêm</a>
                    <a href="#sec-4">Xem Các Dự Án</a>
                </div>
            </article>
    </section>
    <section id="sec-1">
        <div class="container">
            <article>
                <h1>Chào mừng đến với công ty chúng tôi</h1>
                <h2>Khách hàng thân mến</h2>
                <p>
                    Với đội ngũ những tổ thợ lành nghề, đầy nhiệt huyết, sáng tạo và luôn muốn mang đến những giá trị
                    tốt nhất cho khách hàng. Công ty chúng tôi luôn sẵn sàng đáp ứng hơn cả mong đợi sự tin tưởng của
                    quý khách.
                    <br>
                    Mọi băn khoăn, thắc mắc của quý khách sẽ được chúng tôi tư vấn rõ ràng, hiệu quả và đưa ra giải pháp tối ưu cho mong muốn của quý khách.
                </p>
                <a href="#">Hiển thị thêm</a>
            </article>
            <aside><img src="Images/img1.png" alt="man"></aside>
        </div>
    </section>
    <section id="sec-2">
        <div class="container">
            <h1> tại sao nên chọn chúng tôi?</h1>
            <P>Chúng tôi luôn lắng nghe để thấu hiểu những tâm tư, ý kiến của quý khách. Với những kĩ sư tài hoa - có nhiều năm kinh nghiệm thiết kế thực tế, sẽ nhanh chóng phác thảo được mong muốn của quý khách cách trực quan nhất. Từ đó quý khách có thể hình dung được công trình xây dựng của mình sau khi thi công. </P>
            <article>
                <figure>
                    <div class="quality"><img src="Images/ico1.png" alt=""></div>
                    <div class="cont">
                        <h2>Chất lượng hàng đầu</h2>
                        <p>Luôn tạo ra các công trình với chất lượng tốt nhất, đem lại cho quý khách những trải nghiệm tuyệt vời</p>
                    </div>
                </figure>
                <figure>
                    <div class="on-time"><img src="Images/ico2.png" alt=""></div>
                    <div class="cont">
                        <h2>Luôn đúng hẹn</h2>
                        <p>Chúng tôi sẽ bàn giao sản phẩm cho quý khách đúng hạn, đáp ứng nhu cầu về thời gian một cách triệt để</p>
                    </div>
                </figure>
                <figure>
                    <div class="fervent"><img src="Images/ico3.png" alt=""></div>
                    <div class="cont">
                        <h2>nhiệt huyết</h2>
                        <p>Vận dụng hết khả năng, đặt tất cả tâm trí vào từng viên gạch, xây dựng nên những giá trị cốt lõi cho quý khách</p>
                    </div>
                </figure>
                <figure>
                    <div class="professional"><img src="Images/ico4.png" alt=""></div>
                    <div class="cont">
                        <h2>chuyên nghiệp</h2>
                        <p>Nhiều năm trong ngành, chúng tôi luôn cung cấp đến cho quý khách những dịch vụ đầy tính chuyên nghiệp</p>
                    </div>
                </figure>
            </article>
        </div>
    </section>
    <section id="sec-3">
        <div class="container">
            <h1>Những dịch vụ dành cho bạn</h1>
            <div class="cont">
                <div class="card border-0">
                    <div class="img-service">
                        <img src="Images/card1.jpg" class="card-img-top" alt="...">
                        <h5 class="caption">Thiết kế, thi công nhà ở</h5>
                    </div>
                    <div class="card-body px-0 pt-4 ">
                        <div class="service-content mb-4">Nhà ở là một nhu cầu thiết yếu của con người, không gian sống tốt sẽ tạo cảm giác thoải mái, tươi vui, giảm căng thẳng
                            tăng sự tận hưởng cho mỗi người chúng ta. Không gian sống quan trọng không chỉ đối với bạn, mà còn với cả những người thân
                            của bạn, với những đứa trẻ lớn lên trong không gian sống ấy. Hiểu được tầm quan trọng của không gian sống, các kĩ sư của
                            chúng tôi luôn đưa ra những thiết kế làm hài lòng quý khách, một nơi sẽ gắn kết những người thân trong gia đình bạn,
                            là nơi ươm mầm cho những ước mơ của con bạn, đặc biệt với những nhân công đầy kinh nghiệm, sẽ tạo nên cho bạn một
                            không gian sống hoàn hảo, trên cả sự mong đợi của quý khách.
                    
                        </div>
                        <div class="text-center">
                            <a href="#">Hiển thị thêm</a>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="img-service">
                        <img src="Images/card2.jpg" class="card-img-top" alt="...">
                        <h5 class="caption">Cải tạo các công trình cũ</h5>
                    </div>
                    <div class="card-body px-0 pt-4">
                        <div class="service-content mb-4">Ngay khi bạn muốn nâng cấp những công trình xây dựng cũ hoặc không ưng ý, hãy liên hệ ngay với chúng tôi 
                            để nhận được sự tư vấn, giải đáp các nhu cầu của quý khách. Chúng tôi luôn sẵn sang đưa ra các giải pháp 
                            tốt nhất cho công trình của bạn, đáp ứng những mong muốn của quý khách.
                        </div>
                        <div class="text-center">
                            <a href="#">Hiển thị thêm</a>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="img-service">
                        <img src="Images/card3.jpg" class="card-img-top" alt="...">
                        <h5 class="caption">Cung cấp vật tư xây dựng</h5>
                    </div>
                    <div class="card-body px-0 pt-4 ">
                        <div class="service-content mb-4">Những công tình tốt thì không thể thiếu vật liệu chất lượng, chúng tôi cam kết luôn mang đến cho 
                            quý khách những sản phẩm chất lượng nhất, uy tín nhất, giao hàng đúng hạn, quý khách sẽ luôn an tâm khi nhận sản phẩm của chúng tôi.
                        </div>
                        <div class="text-center">
                            <a href="#">Hiển thị thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sec-4">
        <div class="container">
            <h1>Làm việc bằng cả trái tim</h1>
            <p>Tập trung hoàn toàn vào công việc mà chúng ta đang làm, 
                với mục đích tạo ra những kết quả tốt nhất có thể. 
                Khi chúng ta làm việc bằng cả trái tim, chúng ta sẽ cảm thấy hạnh phúc và tự hào về những gì chúng ta đã làm, 
                vì chúng ta biết rằng chúng ta đã đặt tất cả mình vào việc đó. 
                Ngoài ra, khi làm việc bằng cả trái tim, chúng ta còn có thể giúp cho chính mình phát huy tối đa tiềm năng và năng lực của mình.</p>
            <div class="filter">
                <a href="#">Hiển thị tất cả</a>
                <a href="#">Biệt thự</a>
                <a href="#">Thiết kế nội thất</a>
                <a href="#">Tạo nên sự khác biệt</a>
                <a href="#">Vật liệu</a>
            </div>
            <div class="cont">
                <img class="wow animated fadeIn slow" src="Images/gallery1.jpg" alt="pic">
                <aside>
                    <img src="Images/gallery3.jpg" alt="pic" class="wow animated flipInX delay-1s">
                    <img src="Images/gallery2.jpg" alt="pic" class="wow animated flipInX delay-1s slower">
                    <img src="Images/gallery4.jpg" alt="pic" class="wow animated flipInX delay-2s">
                    <img src="Images/gallery5.jpg" alt="pic" class="wow animated flipInX delay-2s slower">
                </aside>
            </div>
        </div>
    </section>
    <section id="sec-5">
        <div class="container">
            <h1>Những đánh giá của khách hàng</h1>
            <p>Chúng tôi vô cùng hạnh phúc khi nhân được những phản hồi tích cực từ phía khách hàng. Điều này mang lại cho chúng tôi rất nhiều động lực để phát triển hơn nữa trong tương lai.</p>
            <div class="cont">
                <article class="quoteblock">
                    <div class="quotetxt arrow">
                        <p><img src="Images/blockquote2.png" alt="quote mark"></p>
                        <p>Mình rất hài lòng với ngôi nhà hiện tại của mình, cám ơn công ty xây dựng Phạm Gia Phát đã tư vấn tận tình và xây nên ngôi nhà mình hằng mong ước.</p>
                    </div>
                    <figure>
                        <!-- <img class="customer" src="Images/cust1.png" alt="customer1"> -->
                        <i class="fa-solid fa-user-tie"></i>
                        <figcaption>Anh Tài</figcaption>
                    </figure>
                </article>
                <article class="quoteblock">
                    <div class="quotetxt arrow">
                        <p><img src="Images/blockquote1.png" alt="quote mark"></p>
                        <p>Hoàn toàn đáp ứng những yêu cầu và mong đợi của tôi. 
                            Từ khi bắt đầu xây dựng, tất cả quá trình đã được theo dõi rất chặt chẽ và chất lượng được đảm bảo tốt nhất. 
                            Khi tôi bước vào ngôi nhà mới, tôi cảm thấy được sự tỉ mỉ và chăm chút trong từng đường nét.</p>
                    </div>
                    <figure>
                        <!-- <img class="customer" src="Images/cust1.png" alt="customer1"> -->
                        <i class="fa-solid fa-user-tie"></i>
                        <figcaption>Ông Sơn</figcaption>
                    </figure>
                </article>
                <article class="quoteblock">
                    <div class="quotetxt arrow">
                        <p><img src="Images/blockquote2.png" alt="quote mark"></p>
                        <p>Cuối cùng ngôi nhà của mình cũng đã hoàn thành, từ khâu tư vấn đến thi công rất là chuyên nghiệp và mau lẹ, sẽ giới thiệu cho bạn bè, người thân có nhu cầu 
                            xây nhà. Mình rất là chim ưng luôn.
                        </p>
                    </div>
                    <figure>
                        <!-- <img class="customer" src="Images/cust1.png" alt="customer1"> -->
                        <i class="fa-solid fa-user-tie"></i>
                        <figcaption>Chị Tâm</figcaption>
                    </figure>
                </article>
            </div>
        </div>
        <div class="contactUs">
            <div class="container">
                <aside>
                    <h1>Nếu bạn có bất kì thắc mắc nào</h1>
                    <h2>Đừng ngần ngại liên hẹ với chúng tôi!</h2>
                </aside>
                <form id="form" action="/" method="">
                    <input type="text" name="name" id="" placeholder="Tên" required>
                    <input type="email" name="email" id="email" placeholder="Địa chỉ Email" required>
                    <input type="text" name="message" id="" placeholder="Tin nhắn" required>
                    <input type="submit" value="Gửi" id="submit">
                    <p id="msg" class="text-success"></p>
                </form>
            </div>
        </div>
    </section>
    <%- include('../components/footer'); -%>
    <%- include('../components/scroll-to-top'); -%>

    <script src="js/wow.min.js"></script>
    <script> new WOW().init();</script>
    <script defer src="js/scripts.js"></script>
</body>

</html>