<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="css/pages/login.css">
    <%- include('../components/libs'); -%>
</head>

<body>
    <section id="sec-0">
        <%- include('../components/header'); -%>
    </section>
    <div class="container login-page">
        <div class="row justify-content-center h-100">
            <div class="col-4">
                <form action="/login" method="post">
                    <div class="form-group mt-3">
                        <label for="email" >Your email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group" >
                        <label for="password" >Your password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class=" mb-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('../components/footer'); -%>
    <%- include('../components/scroll-to-top'); -%>
</body>

</html>